.done {
  text-decoration: line-through;
  color: #6c757d;
}
.todo {
  list-style-type: none;
}
.text {
  color: #212529;
  border: 1px solid #ced4da;
  height: 100%;
  display: block;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.hide-button {
  visibility: hidden;
}
.see-more {
  width: 100px;
	margin-top: 10px;
	background-color: #fff;
  border-width: 0;
  border: 1px solid black ;
  border-radius: 5px;
}
.see-more-wrap {
  display: flex;
  justify-content: center;
}
.creation-date {
  border: 1px solid #ced4da;
  height: 100%;
  text-align: center;
}

.input-group-text{
  height: 100%;
  justify-content: center;
}
.dots-hiden {
display: none;
}
.dots-showed {
  display:inline
}

.header {
  background-color:   #ffe6ff;
  height: 70px;
}
.header-title {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  line-height: 70px;
}
.user-email {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sign-btn {
  align-items: center;
  display: flex;
  min-width: fit-content;
}

.add-todo-btn {
  display: flex;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8AD;
}
.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

.pagination-wrap .selected-page {
  color: black;
  font-weight: 700;
}
.pagination-wrap {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-wrap span {
  border: 1px solid #343a40;
  width: 30px;
  margin-right: -1px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.pagination-wrap span:hover {
  background-color: #343a40;
  color: #fff
}

.file-list{
  list-style-type: none;
}
.download-btn {
  color: #212529;
  text-decoration: none;
  height: 40px;
  width: 100%;
  border: 1px solid #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #343a40;
}
.download-btn-wrap{
  display: flex;
  align-items: top;
  justify-content: center;
}
.download-img {
  height: 100px;
  width: auto;
}
.hidden-preview{
  color: #6c757d;
  font-style: italic;
}

.dropzone-wrap {
  display: flex;
}
.dropzone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}
.dropzone:active {
  border-color: #111;

}
.dropzone-inscription {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.file-upload {
  display: none;
}

.add-comment-btn {
  width: 100%;
  height: 30px;
  padding: 0;
  border: 1px solid black;
  background-color: transparent;
  line-height: 100%;
}
.add-comment-btn:hover {
  color: #fff;
  background-color: #343a40;
}

.comment-btn {
  color: #212529;
  height: 40px;
  width: 100%;
  border: 1px solid #343a40;
  margin-bottom: 5px;
}
.comment-btn:hover {
  color: #fff;
  background-color: #343a40;
}

.comments-wrap {
  border: 2px solid #343a40;
  background-color: #fafafa;
}
.comment-item {
  border: 1px solid #343a40;
  margin-bottom: 5px;
  background-color: rgb(223, 213, 219);
}
.comment {
  list-style-type: none;
}

.change-comment {
  width: 87%;
  background-color: #bdbdbd;
}

.edit-comment-save {
  background-color: #fafafa;
  color: #000;
  height: 30px;
  width: 50px;
  border: 1px solid #343a40;
  border-radius: 15px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-comment-save:hover {
  background-color: green;
  color: #fff;
}

.edit-comment-wrap {
  display: flex;
  align-items: center;
}